<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @folder.id.nil? %>
      <%= f.label :path %><br />
      <%= f.text_field :path, :size => 66 %>
    <% else %>
      <p>Path<br><code><%= @folder.path %></code></p>
      <p>Paths cannot be edited after a folder has been created.</p>
    <% end %>
    <p>
      All paths are relative to 
      <code><%= Drxfer::Application.config.transfer_destination_base_path %></code>
    </p>
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 66 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '60x4' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
