<p>
  <b>Name:</b>
  <%= @folder.name %>
</p>

<p>
  <b>Description:</b>
  <%= @folder.description %>
</p>

<p>
  <b>Path:</b>
  <code><%= @folder.path %></code><br/>
</p>
  <p>
    All paths are relative to 
    <%= Drxfer::Application.config.transfer_destination_base_path_description.to_s.html_safe %>
  </p>
  <p>
    The drxfer application accesses the folder <%= @folder.name %> via: <code><%= @folder.full_path %></code>
</p>

<%= link_to 'Edit', edit_folder_path(@folder) %> |
<%= link_to 'Back', folders_path %>
