<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :value => @user.email %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :value => @user.first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :value => @user.last_name %>
  </div>
  <div class="field">
    <%= f.label :admin, "Transfer Form Admin" %>
    <%= f.check_box :admin %>
  </div>
  
  <h3>Agreements</h3>
  <% if @user.agreements.size == 0 %>
    None
  <% else %>
    <ol>
    <% @user.agreements.each do |agreement| %>
      <li><%= link_to agreement.name, agreement %></li>
    <% end %>
    </ol>
  <% end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
