<% if current_user.admin? %>
  <h3>Administration</h3>
  <p><%= link_to "Manage users", users_url %></p>
  <p><%= link_to "Manage agreements", agreements_url %></p>
  <p><%= link_to "See transfers", transfers_url %></p>

  <h3>Recent transfers</h3>
  <p>List goes here</p>
<% elsif current_user.agreements.size == 0 %>
  <p>You have no transfer agreements at present.</p>
<% else %>
  <p>
    You have
    <%= current_user.agreements.size %> 
    active transfer 
    agreement
    at present:
  </p>
  <ol>
    <% current_user.agreements.each do |agreement| %>
      <li><%= link_to agreement.name, agreement %></li>
    <% end %>
  </ol>
  <p>
    Please click on the agreement name if you 
    would like to make an associated transfer.
  </p>
<% end %>