<h2>Transfer Agreements</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Users</th>
    <th>Destination Folder</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agreements.each do |agreement| %>
  <tr>
    <td><%= agreement.name %></td>
    <td><%= agreement.users_summary %></td>
    <td><%= (agreement.folder ? '<code>' + agreement.folder.path + '</code>' : '<i>None</i>').html_safe %></td>    
    <td><%= link_to 'Show', agreement %></td>
    <td><%= link_to 'Edit', edit_agreement_path(agreement) %></td>
    <td><%= link_to 'Destroy', agreement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agreement', new_agreement_path %>
