<h2>Transfer Agreement: <%= @agreement.name %></h2>

<p>
  <%= @agreement.description %>
</p>

<% if current_user.admin? %>
  <p>
    <b>Users:</b>
    <%= @agreement.users.collect{|u| link_to(u.full_name, edit_user_url(u))}.join(', ').html_safe %>
  </p>
<% end %>

<% if @agreement.users.include? current_user %>
  <p>
    <%= link_to "Make a transfer", new_agreement_transfer_url(@agreement) %>
  </p>
<% end %>

<% if current_user.admin? %>
  <h3>Transfers</h3>
  <ul>
  <% @agreement.transfers.each do |transfer| %>
    <li><%= link_to transfer, [@agreement, transfer] %></li>
  <% end %>
  </ul>

  <%= link_to 'Edit', edit_agreement_path(@agreement) %> |
  <%= link_to 'Back to list of agreements', agreements_path %>
<% end %>
