<p>
  <b>Name:</b>
  <%= @agreement.name %>
</p>

<p>
  <b>Description:</b>
  <%= @agreement.description %>
</p>

<p>
  <b>Users:</b>
  <%= @agreement.users.collect{|u| link_to(u.full_name, edit_user_url(u))}.join(', ').html_safe %>
</p>


<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
