<h2>Transfer Agreement: <%= @agreement.name %></h2>

<p>
  <%= @agreement.description %>
</p>

<% if current_user.admin? %>
  <p>
    <b>Users:</b>
    <%= @agreement.users.collect{|u| link_to(u.full_name, edit_user_url(u))}.join(', ').html_safe %>
  </p>
<% end %>

<p>
  <%= link_to "Make a transfer", new_transfer_url %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_agreement_path(@agreement) %> |
  <%= link_to 'Back to list of agreements', agreements_path %>
<% end %>
