<h1>New transfer</h1>

<%= nested_form_for([@agreement,@transfer], :html => {:multipart => true}) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b>Agreement:</b> <%= @agreement.name %>
  </p>

  <div class="field">
    <p>Please enter a title and/or description of the records, along with the date they were created.</p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '60x4', :required => 'required' %>
  </div>
  
  <div class="field">
    <%= f.fields_for :attachments do |attachment| %>
      <p>
        <%= attachment.file_field :asset, :required => 'required' %>
        <%= attachment.link_to_remove "Remove this file" %>
      </p>
    <% end %>
    <p><%= f.link_to_add "Add file", :attachments %></p>
  </div>  
  
  <p>Note: If you are transferring large files and/or are using a slower network connection it may take some time for the transfer to finish. Please be patient and wait for your transfer to complete.</p>
  
  <div class="actions">
    <%= f.submit "Transfer!" %>
  </div>
<% end %>


<%= link_to 'Back to agreement', @agreement %>
