<p>
  <b>Agreement:</b>
  <%= @transfer.agreement.name %>
</p>

<p>
  <b>Description:</b>
  <%= @transfer.description %>
</p>

<p>
  <b>Attachments:</b>
  <ol>
    <% @transfer.attachments.each do |attachment| %>
    <li>
      <%= link_to(File.basename(attachment.asset.current_path), attachment.asset.url) %>
      (<% if current_user.admin? -%><code><%= attachment.content_type %></code>,
      <% end -%><%= number_to_human_size(attachment.file_size) %><% if current_user.admin? -%>,
      MD5: <code><%= attachment.md5 %></code><% end -%>)
    </li>
    <% end %>
  </ol>
</p>

<p> 
  <b>Recorded User Information:</b>
  <%= @transfer.first_name %>
  <%= @transfer.last_name %>
  &lt;<%= @transfer.email %>&gt;
  <% if current_user.admin? and @transfer.user %>
    (<%= link_to 'User', @transfer.user %>)
  <% end %>
</p>

<%= link_to 'Back to agreement', @agreement %>
