<!DOCTYPE html>
<html>
<head>
  <title>Digital Records Transfer System</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %> 
  <!-- Modify the environment variable key as necessary -->
  <%= javascript_include_tag "#{ENV['external_asset_js_src']}" if File.exists?("config/external_assets.yml") %> 
  <%= favicon_link_tag if File.exist?("app/assets/images/favicon.ico") %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header"></div>
<div id="wrapper">
<p id="session">
  <% if user_signed_in? %>
    Logged in as <%= current_user.first_name %> <%= current_user.last_name %>
    —
    <%= link_to 'Log out', destroy_user_session_url, :method => :delete %>
  <% else %>
    Not logged in
  <% end %>
</p>
<h1><%= link_to "Digital Records Transfer System", root_url %></h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= yield %>
</div>
</body>
</html>
