<!DOCTYPE html>
<html>
<head>
  <title>Drxfer</title>
  <%= stylesheet_link_tag :main %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
<p id="session">
  <% if user_signed_in? %>
    Signed in as <%= current_user.first_name %> <%= current_user.last_name %>
  <% else %>
    Not signed in
  <% end %>
</p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>  
<%= yield %>
</div>
</body>
</html>
